*
{
    margin:0;
    padding:0;
}
header
{
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("picture1.jpg");
    height:175vh;
    background-size:auto;
    background-position:center;
}
.main-nav
{
    float:right;
    list-style:none;
    margin-top:30px;
}
.main-nav li
{
    display:inline-block;
}
.main-nav li a
{
    color:white;
    text-decoration:none;
    padding:5px 15px;
    font-family: "Ariel",fantasy;
    font-size:18px;
    
}
.main-nav li a:hover
{
    border:1px solid white;
}
.logo img
{
    width:10%;
    height: auto;
    float:left;
}
body
{
    font-family: monospace;
}
.row
{
    max-width: 100%;
    margin: auto;
}
.hero
{
    position: absolute;
    width: 90%;
    margin-left: 0px;
    margin-top: 0px;
}
h1
{
    color:white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 375px;
    margin-left: 100px;
}
.button
{
    margin-top: 30px;
    margin-left: 50%;
    
}
.button1
{
    border:1px solid white;
    padding:10px 30px;
    color:white;
    text-decoration: none;
    font-size: 22px;
    text-transform: uppercase;
}
.button1:hover
{
    background-color:darkorchid;
    font-family: "Roboto",sans-serif;
}
hr
{
    display:block;
    margin-top: 36%;
    width:110%;
}
.bot-nav-left
{
    float:left;
    padding-top: 20px;
}
.bot-nav-left li b
{
    color:white;
    text-decoration:none;
    padding:55px;
    font-family: "Ariel",fantasy;
    font-size:25px;
}
.bot-nav-left li a
{
    color:darkgrey;
    text-decoration:none;
    padding:55px;
    font-family: "Ariel",fantasy;
    font-size:16px;
}
.bot-nav-left li:not(:last-child)
{
    color:white;
    margin-bottom: 30px;
    font-family: "Ariel",fantasy;
    font-size:18px;
}
.bot-nav-center
{
    float:left;
    margin-left: 35%;
    padding-top: 20px;
}
.bot-nav-center li:not(:last-child)
{
    color:white;
    margin-bottom: 30px;
    font-family: "Ariel",fantasy;
    font-size:18px;
}
.bot-nav-center li b
{
    color:white;
    padding:55px;
    font-family: "Ariel",fantasy;
    font-size:25px;
}
.bot-nav-center li a
{
    color:darkgrey;
    padding:55px;
    font-family: "Ariel",fantasy;
    font-size:16px;
}
.about
{
    float:right;
    padding-top: 20px;
}
.about a
{
    margin-left:36%;
    color:white;
    font-size: 25px;
    font-family: "Ariel",fantasy;
}
.about h2
{
    margin-top:20px;
    color:darkgray;
    margin-bottom: 10px;
    font-family: "Ariel",fantasy;
    font-size:16px;
    text-align: center;
}
.hline
{
    width:20%;
    height:1px;
    color:white;
}
.msg
{
    float:right;
}